/* CSS Code */

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    padding: 0;
    margin: 0;
    background-color: #f4f4f4;
}

/* Global */
.container {
  width: 80%; 
  margin: auto;
  /* width of the container */
  width: 80%;
  /* margin auto centers everything inside the container according to thewidth of the container*/
  margin: auto;
  /* anything that can't fit inside the container this hides it */
  overflow: hidden;
}

/* Header */

header {
  background-color: #35424a;
  color: #fff;
  padding-top: 30px; 
  min-height: 50px;
  border-bottom: #e8491c 3px solid;
}


header a{
  color: #fff;
  text-decoration: none;
  /* change text to upper case */
  text-transform: uppercase;
  font-size: 14px;
}

header ul{
  margin:0;
  padding:0;
}

header li{
  float: left;
  display: inline;
  padding: 0px 20px 0px 20px;
}

header .branding{
 float: left;
}

header .branding h1{
 margin: 0;
}

header nav {
  float: right;
  margin-top: 10px;
}

header .highlight, header .current a{
   color: #e8491d;
   font-weight: bold;
}


